* {
    margin: 0;
}
body {
    background: radial-gradient(circle at center, #0d1b2a 0%,#020c1b 100%);
    overflow: hidden;
}
main {
    width: 100vw;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main div {
    width: 510px;
    height: 600px;

    background: rgba(41, 24, 152, 0.2);
    border: 3px outset blue;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
div {
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;

    margin-top: 10px;
}
input {
    background: beige;
    width: 500px;
    height: 25px;
    margin: 30px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    text-align: left;
    margin-left: 0;
}
label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.e-mail {
    border: lightblue solid 2px;
}
.senha {
    border: lightblue solid 2px;
}
button {
    margin-top: 1vh;
    margin-left: 5px;
    border: 1px solid blue;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button:hover {
    background: lightblue;
}
.logo {
    width: 102vw;
    color: beige;
    position: relative;
    font-size: 26px;
    font-weight: 700;
    margin-top: 5vh;
    font-size: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    display: flex;
}
.logo span {
    color: #2ec5a6;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: default;
}
.senha {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    margin-top: -15px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.a2 {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: -15px;
    margin-left: 50px;
}
.checkbox {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  
    width: 100px;
    height: 20px;
    justify-content: left;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 13px;
}
.label {
    display: flex;
    justify-content: center;
    text-align: center;
}
.label2 {
    display: flex;
    justify-content: center;
    text-align: center;
}
